.contacto-contenedor {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.formulario-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2;
}

.form-label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

textarea.form-input {
    resize: vertical;
}

.form-button {
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

.form-button:hover {
    background-color: #0056b3;
}
